

.offers-images{
    background-image: url("https://i.ibb.co.com/1yq8SGG/pexels-picsfast-8753672.jpg");
    background-repeat: no-repeat;
    width: 100vw;
    background-size: cover;
    background-position: center center;
    object-fit: cover;
}
.blog-images-home{
    background-image: url("https://i.ibb.co.com/G3HYQSXV/pexels-photo-by-twelfth-night-1105439946-26925529.jpg");
    background-repeat: no-repeat;
    width: 100vw;
    background-size: cover;
    background-position: center center;
    object-fit: cover;
}